<img src="/banner.jpg" id="banner">

<div class="third" id="left">
  <img src="/bird-icon.png" class="home_icon">
</div>
<div class="third" id="middle">USERS</div>
<div class="third" id="right">ALBUMS</div>
