<img src="/banner.jpg" id="banner">

<div class="third" id="left">
  <img src="/bird-icon.png" class="home_icon">
  <h1>Images</h1>
  <div class="sub_text">store images and never worry about having get lost and enjoy always having them available to you from any device with internet access!</div>
  <% if user_signed_in? %>
    <a href="/images" class="btn btn-4"><span>My Pictures</span></a>
  <%else%>
    <a href="/users/sign_in" class="btn btn-4"><span>My Pictures</span></a>
  <%end%>

</div>
<div class="third" id="middle">
  <img src="/user.png" class="home_icon_middle">
  <h1>Users</h1>
  <div class="sub_text">create a account and chose which users can see which pictures of yours, whether it be everyone, just your friends or keep them all to yourself.</div>
  <% if user_signed_in? %>
    <%= link_to "My Page", "users/#{current_user.id}",class:"btn btn-4" %>
  <%else%>
    <a href="/users/sign_in" class="btn btn-4"><span>My Page</span></a>
  <%end%>


</div>
<div class="third" id="right">
  <img src="/album.png" class="home_icon">
  <h1>Albums</h1>
  <div class="sub_text">place all your images into a unlimited amount of albums to help keep them organized and easy to find among hundreds of photos.</div>
  <% if user_signed_in? %>
    <a href="/albums" class="btn btn-4"><span>My Albums</span></a>
  <%else%>
    <a href="/users/sign_in" class="btn btn-4"><span>My Albums</span></a>
  <%end%>

</div>
