<div id="wrapper">
  <h1>Name Your New Album</h1>
  <%= simple_form_for @album do |f| %>
    <%= f.input :name, label: 'Name of the album', error: "Sorry thats taken, please choose another name that's unique", wrapper_html: { class: 'album_textbox' } %>
    <%= f.button :submit %>
  <% end %>
</div>
