/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require sweetalert
 *= require dropzone/dropzone
 *= require_self
 */
html{
  min-height: 100%;
}
body{
  margin: 0;
  min-height: 100%;
}
h1 {
  a{
    color: white;
  }
}
#header{
  margin: 0;
  padding: 10px;
  padding-top: 0;
  z-index: 2000;
  background-color: rgba(0,0,0,0.2);    /* 10% opaque red */
  margin-bottom: -85px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}
#logo{
  height: 50px;
  width: 50px;
  display: inline-block;
  background-image: url('/logo.png');
   background-size: 50px 50px;
  background-position: center;

}

#logo:hover{
    background-image: url('/sleep_logo.png');
}
#header ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
}

#header li {
    float: right;
    padding: 0;
    margin: 8px;
}

#header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

#header li a:hover {
  background: rgb(204, 204, 204); /* Fall-back for browsers that don't
                                  support rgba */
  background: rgba(204, 204, 204, .5);
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.58;
    -webkit-transition:.8s;
    /* ...and now for the proper property */
    transition:.8s;
}

#banner{

  position: relative;
  top: 0;
  max-width: 100%;
  z-index: -2000;
  clear: both;
}

/*THE BIRD IS A MARCAW */


.third{
  width: 33%;
  height: 1000px;
  display: inline-block;
  float: left;
  margin-left: 5px;
}
.third h1{
  text-align: center;
  margin-top: 50px;
  font-size: 105px;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 3px;
}
.sub_text{
  text-align: center;
  font-size: 20px;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: -60px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;

}
#left{
  background-color: #FEE202;
}

#middle{
  background-color: #29B3FA;
}
#right{
  background-color: #F60005;
}
.home_icon{
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.home_icon_middle{
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.home_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
    border: 6px solid transparent;
    border-image: linear-gradient(to right, #0865F1 0%, #C704F6 100%);
    border-image-slice: 1;
    background: rgb(204, 204, 204); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(204, 204, 204, .5);
    color: #000;
    font-size: 2em;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.home_button:hover {
    background-color: white;
    background: linear-gradient(to right, #0865F1, #C704F6);
      -o-transition:.8s;
      -ms-transition:.8s;
      -moz-transition:.58;
      -webkit-transition:.8s;
      /* ...and now for the proper property */
      transition:.8s;
    color: #fff;

}




@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

//colors
$red: #E1332D;
$white: #fff;

//base styles










//button styles


//default button
.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;

  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

/////////////////////////////////
//button one
///////////////////////////////
.btn-1 {
  background: darken($red, 1.5%);
  font-weight: 100;

  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
  }
}

.btn-1:hover {
  background: rgba($red, 0);
  font-weight: 900;
  letter-spacing: 1px;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
/////////////////////////////
//button-4
///////////////////////////
.btn-4 {
  border: 3px solid;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2em;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  width: 300px;
  background: rgb(204, 204, 204); /* Fall-back for browsers that don't
                                  support rgba */
  background: rgba(204, 204, 204, .3);
  span {
    z-index: 20;
  }

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
  }
}

.btn-4:hover {

  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}


.btn-4 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-4 span:after {
  content: '\2192';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.btn-4:hover span {
  padding-right: 25px;
}

.btn-4:hover span:after {
  opacity: 1;
  right: 40;
}

//**********************************************GALLERY************************************************//

#gallery_wrapper{
  height: 100%;
  margin-top: -110px;
  padding-top: 50px;
  background-color: #2C2F34;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url('/background.jpg');
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    padding-top: 75px;
    margin-bottom: 50px;
    font-size: 65px;
  }
}
.gallery_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: auto;
  object-fit: fill;
  object-position: 50% 50%;
  margin-bottom: 25px;
}


.gallery_image:hover +span.text-content span {
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}
.gallery_image:hover + span.text-content{
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}
span.text-content:hover{
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

span.text-content span:hover{
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 50px;
  margin-left: 740px;
  margin-top:  -500px;
  position: absolute;
  width: 150px;
  opacity: 0;
  font-size: 20px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  font-size: 20px;
}

.edit_images_link{
  text-align: center;
  text-decoration: none;
  color: white;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  margin-top: -35px;
  margin-bottom: 50px;
  font-size: 25px;
}

.new_image_link{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 50px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 25px;
  width: auto;
}
//**********************************************GALLERY************************************************//


//**********************************************SHOW IMAGE************************************************//

#show_image_wrapper{
  height: 100%;
  background-color: #2C2F34;
  margin-top: -110px;
  padding: 50px;
  padding-top: 150px;
  color: #e6e6e6;
  h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: -10px;
  }
  h2{
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
  }
  h3{
    font-size: 30px;
  }
  a{
    color: #0ab1ff;
    text-decoration: none;
  }
  img{
    max-width: 100%;
  }

}



//**********************************************SHOW IMAGE************************************************//

//**********************************************NEW IMAGE************************************************//

#dZUpload{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 275px;
  color: #646C7F;
  font-size: 19px;
  font-family: 'Exo 2', sans-serif;
  border-radius: 5px;
  border: 5px solid blue;
}
//**********************************************NEW IMAGE************************************************//


//********************************************** SELECT BOX ************************************************//

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;

   :hover{
     outline-color: red;
   }
}
/* -------------------- Rounded Corners */
.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
/* -------------------- Colors: Background */
.blue    { background-color: #e6e6e6; }
/* -------------------- Colors: Text */
.blue select    { color: #008bcc; }


.add_btn{
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.add_btn:hover {
    background-color: #008CBA;
    color: white;
}
//********************************************** SELECT BOX ************************************************//


//********************************************** ALBUM INDEX ************************************************//
#album_gallery_wrapper{
  min-height: 100vh;
  height: 100%;
  padding-top: 50px;
  background-color: #2C2F34;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  background-image: url('/background.jpg');
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    padding-top: 75px;
    margin-bottom: 50px;
    font-size: 65px;
  }
  h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    margin-bottom: 50px;
    font-size: 20px;
  }
}
.album_icon{
  flex: 1;
  height: 100%;
  -webkit-filter: blur(3px);
	filter: blur(2px);

}
.album_link{
  display: inline-block;
  background-image: url('/pictures_blur.png');
  border: 2px solid black;
  margin: 10px;
  width: 45%;
  max-width: 450px;
  height: 300px;
  background-size: 100%,100%;
  position:relative;
  overflow: hidden;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  p{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 60px;
    width: 100%;
    left: 0;
    right: 0;
    text-shadow: 3px 3px black;
    color: #737373;
  }
}
    .check_text {
      display: inline-block;
      text-decoration: none;
      color: white;
      font-family: 'Fjalla One', sans-serif;
      font-size: 20px;
      margin-bottom: 0;
    }

    .new_album_link{
      text-decoration: none;
      color: white;
      text-decoration: none;
      background-color: #EEEEEE;
      color: #333333;
      padding: 2px 6px 2px 6px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
    }


//********************************************** ALBUM INDEX ************************************************//


//********************************************** NEW ALBUM FORM ************************************************//
#wrapper{
  min-height: 100vh;
  height: 100%;
  padding-top: 50px;
  background-color: #2C2F34;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  background-image: url('/background.jpg');
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 75px;
  }
  .btn{
    width: 30%;
    margin-top: 3em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid #00ccff; /* Sky Blue */
    font-family: 'Montserrat', sans-serif;

  }
  .btn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }

    .btn:hover {
        background-color: #00ccff; /* Sky Blue */
        color: white;
    }
}
.album_textbox {
  font-size: 26px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;

  label{
    color: white;
    display: block;
  }
  input{
    font-size: 26px;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    text-align: center;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    background-color: #2C2F34;
    color: white;
    border-color: #00ccff;
    background:transparent;
    //border-image:   linear-gradient(to right, #FF0000,#E2571E,#FF7F00,#FFFF00,#00FF00,#96bf33,#0000FF,#4B0082,#8B00FF,#ffffff) 5;
  }
  input[type=text] {
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
      width: 100%;
  }
}

//********************************************** NEW ALBUM FORM ************************************************//


//********************************************** LOG IN ************************************************//

#login_wrapper{
  min-height: 100vh;
  height: 100%;
  padding-top: 50px;
  background-color: #2C2F34;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url('/light_background.jpg');
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    color: black;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 75px;
    text-align: center;
  }
  .login_div, .signup_div{
    float: left;
    width: 43%;
    display: inline-block;
    padding: 50px;
    label{
      font-size: 20px;
      text-align: left;
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
      margin-top: 20px;
    }
    input{
      font-size: 20px;
      text-align: left;
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
      width: 75%;
      padding: 10px;
      box-sizing: border-box;
      border: 2px solid white;
      border-radius: 4px;
    }
    #user_remember_me{
      display: inline-block;
      width: auto;
    }
    .btn{
      width: 75%;
      margin-top: 3em;
      border: none;
      color: white;
      padding: 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      background-color: white;
      color: black;
      border: 2px solid #00ccff; /* Sky Blue */
      font-family: 'Montserrat', sans-serif;

    }
    .btn {
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      }

      .btn:hover {
          background-color: #00ccff; /* Sky Blue */
          color: white;
      }
  }
  .signup_div{
    border-left: .5px solid #00ccff;
  }
}

.help{
  color: #b94a48 !important;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}
//********************************************** LOG IN ************************************************//

//********************************************** PAGINATION ************************************************//

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
    //********************************************** PAGINATION ************************************************//



    //********************************************** USER PAGE ************************************************//
  #user_page_wrapper{  
    min-height: 100vh;
    height: 100%;
    padding-top: 50px;
    background-color: #2C2F34;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url('/light_background.jpg');
      /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


    //********************************************** USER PAGE ************************************************//


    .album_btn_div{
      min-height: 100px;
      padding-left: 400px;
      padding-right: 400px;

      h3{
        display: inline;
      }
      a{
        text-decoration: none;
      }
      .fill_btn{

      }
      .right {

      }
    }


    .fill_btn {
      position: relative;
      display: inline-block;
      letter-spacing: 1.2px;
      padding: 12px 32px;
      text-align: center;
      text-transform: uppercase;
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
      width: 300px;
      &:focus {
        outline: none;
      }
    }

    .fill_btn--primary {
      color: lightslategray;
    }

    .fill_btn--border {
      border-width: 1px;
      border-style: solid;
      border-radius: 10px;
      box-sizing: border-box;
    }

    .fill_btn--animated {
      transition-property: color;
      transition-duration: 0.5s;

      &.fill_btn--border.fill_btn--primary {
        border: 1px solid lightslategray;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: lightslategray;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        z-index: -1;
      }
      &:after{
        content: "+";
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        position: absolute;
        top: 5px;
        left: 0;
        right: 180px;
        bottom: 0;
        background: lightslategray;
        transform: scaleX(0);
        transform-origin: 0 0%;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        z-index: -1;
      }
      :after{
        content: "+";
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        position: absolute;
        top: 5px;
        left: 0;
        right: 180px;
        bottom: 0;
        background: lightslategray;
        transform: scaleX(0);
        transform-origin: 0 0%;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        z-index: -1;
      }

      &:hover {
        color: white;

        &:before {
          transform: scaleX(1);
          transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
        }
        &:after {
          transform: scaleX(1);
          transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
        }
      }
    }
    .fill_btn:hover span {
      margin-left: 35px;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
    }

  .right:after{
      content: "-";
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
      position: absolute;
      top: 5px;
      left: 0;
      right: 180px;
      bottom: 0;
      background: lightslategray;
      transform: scaleX(0);
      transform-origin: 0 0%;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
      z-index: -1;
    }

    .right:hover {
      color: white;

      .right:before {
        transform: scaleX(1);
        transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
      }
      .right:after {
        transform: scaleX(1);
        transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
      }
    }
