<div id="show_image_wrapper">
  <% if current_user != @image.user && @image.public? == false %>
    <% if @image.only_friends? == true && current_user.friends.include?(@image.user)%>
      <%= render 'showimage', image: @image %>
    <%else%>
      <h1>IMAGE IS PRIVATE; IF IT IS YOUR IMAGE SIGN IN </h1>
    <%end%>
  <%else%>
  <%= render 'showimage', image: @image %>

  <%end%>

  <% if user_signed_in? && current_user == @image.user%>
    <%= link_to 'Edit', edit_image_path(@image) %> |
    <%= link_to 'Delete', @image, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end%>
</div>














<script>
$( ".add_btn" ).click(function() {
  var album = $("select").val()
  var image = gon.image;
  console.log(album);
  console.log(image);

  $.ajax({
    type: "POST",
    url: "/images/add-album",
    dataType:"json",
    data: {image:image,album:album },
    success:function(data) {
      console.log("good");
      var album = data['album_name'];
      if (album == 'error') {
        alert("Error")  
      } else {
        $( " <a href='/albums/"+album+"'>"+album+"</a> <br> " ).appendTo( "#album_list" );
        alert("image was added to album!")
      }
      return false;
    },
    error:function(data) {
      console.log("bad");
      console.log(data);
      return false;
    }
  });


});


</script>
